<h1 class="text-center">Creacion de libros</h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center">Formulario</h1>
        </div>

    </div>
</div>

<form [formGroup]="formulario">
    <label >Titulo</label>
    <input type="text" formControlName="titulo">
    <div *ngIf="titulo.invalid && titulo.touched">
        <small *ngIf="titulo.errors?.required" class="text-danger">*El
            titulo es
            <strong>requerido</strong></small>
        <small *ngIf="titulo.errors?.minlength" class="text-danger">*Debe
            tener al
            menos 2
            caracteres.</small>
        <small *ngIf="titulo.errors?.maxlength" class="text-danger">*No
            debe
            pasar los
            10
            caracteres.</small>
    </div>
    <br><br><br>
    <label >Autor</label>
    <input type="text" formControlName="autor"><br>
    <label >Descripcion</label>
    <input type="text" formControlName="descripcion"><br>

    <button type="button" class="btn btn-info" [disabled]="formulario.invalid" (click)="post()">enviar</button>
</form>




<!-- <label >Titulo</label>
<input type="text" [(ngModel)]="formulario.titulo" #titulo="ngModel" name="titulo">
<label >Autor</label>
<input type="text" [(ngModel)]="formulario.autor" #autor="ngModel" name="autor"><br>
<label >Descripcion</label>
<input type="text" [(ngModel)]="formulario.descripcion" #descripcion="ngModel" name="descripcion"><br>

<button (click)="post()">enviar</button> -->